body {
  text-align: center;
  background-color: #f2ead9;
  background-image: url("images/istockphoto-1146783088-612x612.jpg");
}

h1 {
  font-size: 5rem;
  color: #a87008;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 White;

}

footer {
  color: #3d291f;
  font-family: sans-serif;
}

.w {
  background-image: url("images/I.jpg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}

.a {
  background-image: url("images/love.jpg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}

.s {
  background-image: url("images/you.jpg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}

.d {
  background-image: url("images/so.jpg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}

.j {
  background-image: url("images/very.jpg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}

.k {
  background-image: url("images/much.jpg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}

.l {
  background-image: url("images/baby.jpg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #a87008;
  font-size: 1rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: white;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
