
body{
  background-color: #33475e;
  color: lightgray;
}

h3{
  color: #efbd55;
}
hr{
  border-style: dotted none none none;
  border-color: #efbd55;
  border-width: 8px;
  width: 8%;
}

a{
  color: lightgray;
}
